.etiqueta {
  display: flex;
  flex-direction: column;
  background: url(../../../../assets/images/16\ Divo.svg) no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
}

.etiqueta h2 {
  font-family: Poppins;
  font-size: 40px;
  padding-top: 60px;
  padding-left: 20px;
  align-self: self-start;
}

.etiqueta p {
  font-family: Inter;
  font-size: 18px;
  padding-left: 20px;
  margin-top: 10px;
  align-self: self-start;
}

.etiqueta img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
