<div class="title" id="servicios">
  <h2>Nuestros Servicios</h2>
</div>
<div class="carousel-container">
  <button class="carousel-button prev-button" (click)="scrollLeft()">‹</button>
  <div class="carousel-inner">
    <div class="servicios" #servicios>
      <et-consulta-vet></et-consulta-vet>
      <et-domicilio-vet></et-domicilio-vet>
      <et-farmta-vet></et-farmta-vet>
      <et-estetica-vet></et-estetica-vet>
      <et-pension-vet></et-pension-vet>
      <et-laboratorio-vet></et-laboratorio-vet>
      <et-venta-vet></et-venta-vet>
    </div>
  </div>
  <button class="carousel-button next-button" (click)="scrollRight()">›</button>
</div>
