
<div class="componente" id="nosotros">
  <div class="text">
    <h2>Nosotros</h2>
    <br>
    <br>
    <p>En <span class="bold">TuMarca</span> nos dedicamos<br>a ofrecer servicios de alta<br>calidad en veterinaria y<br>estética canina.Con más<br>de <span class="bold">20 años</span> de<br>experiencia, estamos<br>comprometidos con el<br>cuidado integral de tus<br>mascotas, garantizando su<br>bienestar y salud.</p>
  </div>
  <div class="image">
    <img src="../../../../assets/images/consultorio.webp" alt="consultorio">
  </div>
</div>
