
<div class="container">
  <div class="contenedor" id="contacto">
      <h2>Contáctanos</h2>

      <div class="correos">
          <h3>Nuestros correos</h3>
          <ul>
              <li>tumarca.ejemplo&commat;outlook.com</li>
              <li>tumarca.ejemplo&commat;gmail.com</li>
              <li>tumarca.ejemplo&commat;icloud.com</li>
              <li>tumarca.ejemplo&commat;tumarca.com</li>
          </ul>
      </div>

      <div class="citas">
          <h3>Para información y citas</h3>
          <button>WhatsApp</button>
      </div>

      <div class="emergencias">
          <h3>Llamada de emergencia</h3>
          <button>Emergencia</button>
      </div>
  </div>

  <div class="contenedor2">
      <div class="horario">
          <h2>Horarios</h2>
          <table>
              <thead>
                  <tr>
                      <th>Día</th>
                      <th>Horario</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Lunes</td>
                      <td>09:00 a 19:00</td>
                  </tr>
                  <tr>
                      <td>Martes</td>
                      <td>09:00 a 19:00</td>
                  </tr>
                  <tr>
                      <td>Miércoles</td>
                      <td>09:00 a 19:00</td>
                  </tr>
                  <tr>
                      <td>Jueves</td>
                      <td>09:00 a 19:00</td>
                  </tr>
                  <tr>
                      <td>Viernes</td>
                      <td>09:00 a 19:00</td>
                  </tr>
                  <tr>
                      <td>Sábado</td>
                      <td>09:00 a 15:00</td>
                  </tr>
                  <tr>
                      <td>Domingo</td>
                      <td>Cerrado</td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div class="ubicaciones">
          <h2>Ubicaciones</h2>
          <ul>
              <li>Av. Ejemplo, Monterrey, N.L</li>
              <li>Av. Ejemplo, Guadalajara, GDL</li>
              <li>Av. Ejemplo, Coahuila, COAH</li>
          </ul>
      </div>
  </div>
</div>
