.etiqueta {
  display: flex;
  flex-direction: column;
  background: url(../../../../assets/images/16\ Divo.svg) no-repeat center center;
  background-size: cover;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  align-items: center;
}

.etiqueta h2 {
  font-family: Poppins;
  font-size: 40px;
  padding-top: 60px;
  padding-left: 20px;
  align-self: self-start;
}

.etiqueta p {
  font-family: Inter;
  font-size: 18px;
  padding-left: 20px;
  margin-top: 10px;
  align-self: self-start;
}

.etiqueta img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}


@media (max-width: 480px) {
  .etiqueta {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    align-items: center;
  }

  .etiqueta h2 {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
  }

  .etiqueta p {
    font-size: 18px;
    padding-left: 20px;
    margin-top: 5px;
  }

  .etiqueta img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }


}
