<!--------- Header --------->
<nav-bar></nav-bar>
<inicio></inicio>


<!--------- Servicios --------->
 <carrucel-servicios></carrucel-servicios>
 <barra-comentarios></barra-comentarios>


<!--------- Nosotros --------->
  <nosotros></nosotros>
  <presentaciones></presentaciones>



<!--------- Contacto --------->
  <contacto></contacto>
  <mapa></mapa>


<!--------- Ubicacion --------->
<!-- <h3>ubicacion</h3> -->


<!--------- Footer --------->
<!-- <h3>footer</h3> -->
