<!--------- Header --------->
<nav-bar></nav-bar>
<inicio></inicio>


<!--------- Servicios --------->
<!-- <h3>servicios texto</h3> -->
<!-- <h3>tarjetas</h3> -->
<!-- <h3>reviews</h3> -->


<!--------- Nosotros --------->
<!-- <h3>nosotros texto</h3> -->
<!-- <h3>tarjetas presentacion</h3> -->


<!--------- Contacto --------->
<!-- <h3>contacto</h3> -->


<!--------- Ubicacion --------->
<!-- <h3>ubicacion</h3> -->


<!--------- Footer --------->
<!-- <h3>footer</h3> -->
