<div class="container">

  <div class="comentario">
    <img src="../../../../assets/images/coment1.webp" alt="coment1">
    <div class="texto">
      <h3>Alejandra Palacios</h3>
      <p>Gracias por cuidar a max <span class="corazon">❤</span></p>
    </div>
  </div>

    <div class="comentario">
      <img src="../../../../assets/images/coment2.webp" alt="coment1">
      <div class="texto">
        <h3>Cristina Elizondo</h3>
        <p>Gracias! excelente atención!</p>
      </div>
    </div>

      <div class="comentario">
        <img src="../../../../assets/images/coment3.webp" alt="coment1">
        <div class="texto">
          <h3>Axel Flores</h3>
          <p>Princesas quedó hermosa!</p>
        </div>
      </div>

</div>


