.contenedor {
  height: 300px;
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px;
  padding-top: 10px;
}
