<div class="contenedor" id="inicio">
  <div class="texto">
    <h1>Cuidado experto y<br>amoroso para tus<br>mascotas</h1>
    <p>Nos dedicamos a la salud y el bienestar de tus compañeros peludos, ofreciendo un<br>servicio confiable, con atención personalizada y lleno de amor en cada visita, para<br>asegurar su felicidad y calidad de vida.</p>
    <button>Contáctanos</button>
  </div>

  <div class="img">
    <img src="../../../../assets/images/inicio-perro.png" alt="">
  </div>

</div>
